<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://github.com/bhutianimukul" target="_blank"> Mukul Bhutiani</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->