
<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-brand mb-2 ">
      WEATHER APP</div>
</nav>
<div class="container">
<div class="alert alert-primary" role="alert">
   <div class="row align-items-start">
       <div class="col">
  <a href="/" class="alert-link">Forecast</a>
  </div>
  <div class="col">
  <a href="/help" class="alert-link">Help</a>
  </div>
 <div class="col">
  <a href="/about" class="alert-link">About us</a>
 </div>
   </div>
</div>
</div>

    
 